<form (ngSubmit) = "onSubmit()" [formGroup]="editForm">
    <div class="form-group">
        <div class="row">
             <div class="col">
                <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">Save</button>&nbsp;
                <button type="button" class="btn btn-danger" (click)="clearForm()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label for="name">
                    Name of Recipe
                </label>
                <input type="text" name="name" class="form-control" formControlName="name">
            </div>
        </div>   
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label for="imagePath">
                    Image URL 
                </label>
                <input type="text" name="imagePath" class="form-control" formControlName="imagePath" #image>
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img [src]="image.value" class="img-responsive">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label for="description">
                    Description
                </label>
                <textarea type="name" name="description" class="form-control" rows="4" formControlName="description"></textarea>
            </div>
        </div>   
    </div> 
    <div class="form-group">
        <label for="ingredients">
            Ingredients
        </label>
        <div class="row">
            <div class="col-12" formArrayName="ingredients">
                <div class="row" *ngFor="let ingredient of array.controls;index as i" 
                style ="margin-top: 10px;" [formGroupName]="i">
                    <div class="col-8">
                        <input type="text" name="ingredients" class="form-control" formControlName="name">
                    </div>
                    <div class="col-2">
                        <input type="number" name="ingredients" class="form-control" formControlName="amount">
                    </div>
                    <div class="col-2"> 
                        <button type="button" class="btn btn-danger" (click)="removeIngredient(i)">Delete</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <br>
                <button type="button" class="btn btn-primary" (click)="addNewIngredient()">Add New</button>
            </div>
            
        </div>   
    </div>  
</form> 

