<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <img src="{{selectedRecipe.imagePath}}" alt="" class="img-responsive">
    </div>
</div>
<br>
<div class="row">
    <div class="col-10">
        <h1>{{selectedRecipe.name}}</h1>
    </div>
    <div class="col-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" appDropdown [toBePlaced]='dropdownClass'>
                Manage Recipe
            </button>
            <div class="dropdown-menu"  #dropdownClass>
                <button class="dropdown-item" (click)="toShoppingList()">To shopping List</button>
                <button class="dropdown-item" [routerLink]="['edit']">Edit Recipe</button>
                <button class="dropdown-item" (click)="deleteRecipe()">Delete Recipe</button>
            </div>
            </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 lead">
        {{selectedRecipe.description}}
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <h5>Ingredients</h5>
        <ul class="list-group">
            <a class="list-group-item" style="cursor:pointer;"
            *ngFor="let ingredient of selectedRecipe.ingredients" >
            {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </ul>
    </div>
</div>